<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <title>plantilla de producto - Dietetica</title>
</head>

<body>
        <!-- ====== Header====== -->
  <%- include('partials/header.ejs') %>
        <!-- =================== -->
  <main>
    <div class="iso">
      <img class="iso-img" src="/images/logo/Logocompleto.png" alt="">
    </div>
    
    <section class="section_btn_products">
      <div class="div_btn_products">
        <a class="a_btn_products" href="/products">Conocé todo lo que tenemos para ti</a>
      </div>
    </section>
  </main> 

  <div class="separador">
    <h2 class="subtitle">Productos más vendidos</h1>
  </div>
  
  <section>
    <% pdtosMasVendidos.forEach(function(product){ %> 
    <article class="product" >
      <a id="link" href="/products/<%= product.id %>"><img class="productPh" src="/img/<%= product.image %>" alt="ciruelas desecadas"></a>
      <div class="sliderDots">
        <a href="" class="sliderDot"></a>
        <a href="" class="sliderDot"></a>
        <a href="" class="sliderDot"></a>
        <a href="" class="sliderDot"></a>
      </div>
      <div class="desc">
        <h1 class="productTitle"><a href="/products/<%= product.id %>"><%= product.name %></a></h1>
        <p class="price"><%= product.price %></p>
        <p class="format">por Kilogramo</p>
        <p class="description"><%= product.description %></p>
    
      </div>
      <form action="/cart/add-to-cart" method="POST" class="btn-add-cart">
        <input type="hidden" name="id" value="idproducts">
        <button type="button" class="btn btn-outline-success" >Agregar al carrito</button>
      </form>          
        <a class="btn btn-info" type="button" href="/products/<%= product.idproducts %>" role="button">Más información</a>
    </article>
    <% }); %>

  </section>
  
  <section class="categoria-img-left">
    <div class="cat-img">
      <img src="/img/Frutas_Desecadas/tomatesecos.jpg" alt="frutas desecadas">
    </div>
    <div class="title-cat">
      <h3>Frutas Desecadas</h3>
      <button type="button" class="btn btn-info">Más información</button>
    </div>

  </section>
  <section class="video-home">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KdXNZx4C09o?start=100" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>



  <!--====== Footer =======-->
  <%- include('partials/footer') %>
  <!--===== End Footer =======-->

  <%- include('partials/bootstrap-jq-poppers') %>
</body>

</html>
