<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <title>plantilla de producto - Dietetica</title>
</head>

<body>
        <!-- ====== Header====== -->
  <%- include('partials/header.ejs') %>
        <!-- =================== -->
  <main>
    <div class="iso">
      <img class="iso-img" src="/images/logo/Logocompleto.png" alt="">
    </div>
    
    <section class="section_btn_products">
      <div class="div_btn_products">
        <a class="a_btn_products" href="/products">Conocé todo lo que tenemos para ti</a>
      </div>
    </section>
  </main>
  <br>
  <br>
  <div class="separador">
    <h2 class="subtitle">Productos más vendidos</h1>
  </div>
  
  <section>
    <% pdtosMasVendidos.forEach(function(product){ %> 
    <article class="product" >
      <a id="link" href="/products/<%= product.idproducts%>"><img class="productPh" src="/img/products/<%= product.images %>" alt="ciruelas desecadas"></a>
      <div class="sliderDots">
        <a href="" class="sliderDot"></a>
        <a href="" class="sliderDot"></a>
        <a href="" class="sliderDot"></a>
        <a href="" class="sliderDot"></a>
      </div>
      <div class="desc">
        <h1 class="productTitle"><a href="/products/<%= product.idproducts %>"><%= product.name %></a></h1>
        <p class="price"><%= product.price %></p>
        <p class="format">por Kilogramo</p>
        <p class="description"><%= product.description %></p>
    
      </div>
      <div class="div-fa-star">
        <a href="users/add-favoritos/<%=product.idproducts%>" class="a-fa-star"><i class="fas fa-star"></i></a>
      </div>
      <form action="/cart/add-to-cart" method="POST" class="btn-add-cart">
        <input type="hidden" name="id" value="<%=product.idproducts%>">
        <button type="submit" class="btn btn-outline-success" >Agregar al carrito</button>
      </form>          
        <a class="btn btn-info" type="button" href="/products/<%= product.idproducts %>" role="button">Más información</a>
    </article>
    <% }); %>

  </section>
  
  <section class="categoria-img-left">
    <div class="cat-img">
      <a href="/frutas-desecadas"><img  src="https://i.postimg.cc/y8X42Fy9/Frutas-Desecadas.png" alt="frutas desecadas"></a>     
    </div>    
    <div class="cat-btn">
      <a href="/frutas-desecadas"><button href="/frutas-desecadas" type="button" class="btn btn-info">Más información</button></a>
    </div>    
  </section>
  <section class="categoria-img-left">
    <div class="cat-img">
      <a href="/frutas-desecadas"><img href="/hamburguesas" src="https://i.postimg.cc/QMfLdhPd/hamburgeusas.png" alt="hamburguesas"></a>    
    </div>  
    <div class="cat-btn">
      <a href="/frutas-desecadas"><button href="/hamburguesas" type="button" class="btn btn-info">Más información</button></a>
    </div>      
</section>
  <section class="categoria-img-left">
    <div class="cat-img">
      <a href="/frutas-desecadas"><img href="/frutos-secos" src="https://i.postimg.cc/TPdMxpts/frutas-secas.png" alt="frutos secos"></a>     
    </div>  
    <div class="cat-btn">
      <a href="/frutas-desecadas"><button type="button" class="btn btn-info">Más información</button></a>
    </div>    
  </section>
  <section class="section_api">
    <br>
    <h2>Estamos a menos de 100m de la Av. 9 de Julio!</h2>
    <br>
    <div id="map"></div>


  </section>
  
  <section class="video-home">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KdXNZx4C09o?start=100" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>



  <!--====== Footer =======-->
  <%- include('partials/footer') %>
  <!--===== End Footer =======-->
  <script src="/javascripts/api-map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
  <%- include('partials/bootstrap-jq-poppers') %>
</body>

</html>
