<!DOCTYPE html>
<html>

    <head>
      <%- include('partials/head') %>
      <link rel="stylesheet" href="/stylesheets/productPage.css">
      <title><%= product.name %> - Dietetica</title>
    </head> 
    <body>
        <%- include('partials/header.ejs') %>
        <h2 class="subtitle"><%= product.name %></h1>
        <section>
        
          <article class="product">
            <div class="imgProduct">
                <div class="imageProduct-flex">
                    <img class="productPh" src="/img/<%= product.image %>" alt="imagen producto">
                    <div class="sliderDots">
                        <a href="#" class="sliderDot"></a>
                        <a href="#" class="sliderDot"></a>
                        <a href="#" class="sliderDot"></a>
                        <a href="#" class="sliderDot"></a>
                    </div>
                </div>
            </div>
                <!--<div class="miniPh">
                  <div>
                      <img class="mini" src="../Desarrollo/public/img/Frutos Desecados/pasasdeuva.jpg" alt="">
                  </div>
                  <div>
                      <img class="mini" src="../Desarrollo/public/img/Frutos Desecados/tomatesecos.jpg" alt="">
                  </div>
                  
                </div>-->
            <div class="desc">
                <h1 class="productTitle"><%= product.name %></h1>
                <p class="price">$ <%= product.price %></p>
                <p class="format">por Kilogramo</p>
                <p class="description"> <%= product.description %>></p>

            </div>
            <button type="button" class="btn btn-outline-success" >Agregar al carrito</button>
                
          </article>
          
          
      
            
      



    <!--====== Footer =======-->
    <%- include('partials/footer') %>
    <!--===== End Footer =======-->

    <%- include('partials/bootstrap-jq-poppers') %>
  </body>

</html>