<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/perfil.css">
    <title>Perfil</title>
</head>
<body>
    <!-- ====== Header====== -->
    <%- include('../partials/header.ejs') %>
    <!-- =================== -->
    <% if(user != undefined){ %>
    <div class="div-favo">
        <a href="/users/favoritos" class="a-favo">Favoritos</a>
    </div>  

    <section class="section-1">
        <div style="width: 100%;">
            <p class="section1-p1">Mis Datos</p>
        </div>        
        <div class="editar-cuenta">
            <p class="section1-p2">Datos de cuenta:</p>
           <a href="/users/perfil-edicion"><button type="submit" class="accountEdit-btn" name="accountEdit">Editar</button></a>
        </div>
    </section>
    
    <section class="section-2">
        <p class="section2-p2">Email: <%=user.email%></p>
    </section>
    <section class="section-3">
        <div class="editar-usuario">
            <p class="section3-p1">Datos personales:</p>
        </div>
        <p class="section3-p2">Nombre: <%=user.name%></p>
        <p class="section3-p4">Apellido: <%=user.last_name%> </p>
    </section>
    <% } %>

    <!--====== Footer =======-->
    <%- include('../partials/footer') %>
    <!--===== End Footer =======-->

    <%- include('../partials/bootstrap-jq-poppers') %>
</body>
</html>